
        

<body>
  
  <form id="form_login">
      <div class="container">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
              <section class="content-header wow fadeInDown">
                  <h1>ThinkZone LMS
                  </h1>
              </section>
              <section class="content wow fadeInDown">
                  <div class="box box-primary">
                      <div class="box-header with-border">
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                          <div class="form-group">
                              Email
                                      <input id="txt_email" type="text" placeholder="Email" class="form-control" />
                          </div>
                          <div class="form-group">
                              Password
                                      <input id="txt_password" type="password" placeholder="Password" class="form-control" />
                          </div>
                          <div class="form-group pull-right">
                              <a id="btn_login" [routerLink]="['/dashboard']" class="btn btn-md btn-success">Sign In</a>
                          </div>
                      </div>


                  </div>
              </section>
          </div>
      </div>
  </form>
</body>