

<script>
    // Set data for Main Energy
    function GetRolesGrid() {
        var roledata = [
             { rolename: "Administrator", roledesc: "Admin have access to all pages" },
            { rolename: "Operator", roledesc: "have access to operational pages" },
            { rolename: "Tech", roledesc: "have access to all the pages" },
            { rolename: "Tester", roledesc: "have access to specific pages" }
        ];

        // Setup grid for Main Energy
        $("#jqgrid_roles").jqGrid({
            data: roledata,
            datatype: "local",
            height: 222,
            width: 1020,
            rowNum: 10,
            rowList: [10, 20, 30],
            colNames: ['Role Name', 'Role Desscription'],
            colModel: [
                { name: 'rolename', index: 'rolename', editable: true, sorttype: "int", search: true },
                { name: 'roledesc', index: 'roledesc', editable: true, search: true }
            ],

            loadonce: false,
            viewrecords: true,
            rowNum: 20,
            rowList: [20, 30, 50],
            singleSelectClickMode: ['toggle'],
            rownumWidth: 25,
            multiselect: true,
            pager: "#jqGridPage_roles",

            hidegrid: false,
            jsonReader: {
                repeatitems: false,
                id: "complaintno",
                root: function (obj) { return obj; },
                page: function (obj) { return 1; },
                total: function (obj) { return 1; },
                records: function (obj) { return obj.length; }
            },

            //onSelectRow: function (ticketnumber) {
            //    //alert(id);
            //    openModal();
            //},
            beforeSelectRow: function (rowId, e) {
                $(this).jqGrid("resetSelection");
                return true;
            },

        });

        // $("#grid_compln_history").hide();
        $("#jqgrid_roles").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
        $("#menu_toggle").click(function () {
            //$("#jqGrid01").setGridParam({  datatype: "local", data: mydata }).trigger("reloadGrid");
            //$("#jqGrid01").setGridWidth($("#content").width());
        });
        $('#menu_toggle').on('hidden.bs.collapse', function (e) {
            alert('Event fired on #' + e.currentTarget.id);
        });
    }
</script>

<body>
<div class="tlmsloader"></div>
<form>
    <header id="header" style="position: fixed; width: 100%; z-index: 999;">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle text-warning" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="width: 30%;">
                        <h1>
                            <img class="wow rollIn" src="Images/TGTLG08.png" alt="logo" style="width: 20%;" /></h1>
                    </a>

                    <div class="collapse navbar-collapse navbar-right">


                      <ul class="nav navbar-nav">
                        <li class="dropdown" ><a  [routerLink]="['/dashboard']">Dashboard</a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" >Masters</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a [routerLink]="['/dashboard']">Roles</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/dashboard']">Permissions</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/courses']">Courses</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/centers']">Centers</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/skills']">Skills</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/levels']">Levels</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/objectives']">Objectives</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" >Students</a>
                             <ul class="dropdown-menu">
                                <li>
                                    <a [routerLink]="['/students']">Students</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/accounts']">Accounts</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/assessments']">Assessments</a>
                                </li>
                            </ul>
                        </li>
                        <li class=""><a [routerLink]="['/dashboard']">Reports</a></li>
                            <!--<li class="scroll"><a href="#meet-team">Team</a></li>-->
                            <li class=""><a href="#">Profiles</a></li>
                            <!--<li class="scroll"><a href="#">Get Involved</a></li>-->
                            <!-- <li class="scroll"><a href="Account/Login.aspx" target="_blank">Login</a></li>-->
                            <!--<li class="scroll"><a href="#blog">Social</a></li>-->
                            <!-- <li class="scroll">
                                <a href="#get-in-touch">Contact</a>
                            </li>-->
                        </ul>
                        <!-- <asp:Menu ID="Menu1" runat="server" RenderingMode="List" DisappearAfter="20000" DynamicPopOutImageUrl="~/images/blue-arrow-1.png" StaticPopOutImageUrl="~/images/blue-arrow-1.png"
                            IncludeStyleBlock="false" StaticMenuStyle-CssClass="nav navbar-nav" DynamicMenuStyle-CssClass="dropdown-menu wow fadeInDown">
                        </asp:Menu>-->
                    </div>
                </div>

                <div class="rightpanel pull-right wow slideInRight">
                    <div class="btn_profileprompt btn btn-md" data-toggle="modal" data-target="#Accounts">
                        <span class="fa fa-2x fa-cogs text-warning"></span>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header wow fadeInDown" style="margin-top: 10%;">
            <h1>Manage User Roles
            </h1>
        </section>
        <!-- Main content -->
        <section class="content wow fadeInDown">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#vwroles"><i class="fa fa-eye" style="margin-right: 2%;"></i>View Roles</a></li>
                <li><a data-toggle="tab" href="#addroles"><i class="fa fa-plus" style="margin-right: 2%;"></i>Add Roles</a></li>
            </ul>

            <div class="tab-content">
                <div id="vwroles" class="tab-pane fade in active">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="vw_viewroles">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">View roles</h3>
                                <!--<a id="lnkbtn_addprompt" class="btn btn-link pull-right" onclick=""><i class="fa fa-2x fa-plus"></i></a>-->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="jqgrid_roles"></table>
                                <div id="jqGridPage_roles"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="addroles" class="tab-pane fade">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="vw_addroles">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Add New User Roles</h3>
                                <!-- <a id="lnkbtn_viewprompt" class="btn btn-link pull-right" onclick=""></a>-->
                            </div>
                            <!-- /.box-header -->

                            <div class="box-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Role Name</label>
                                            <input id="txt_Rolename" placeholder="* Roll Name" class="form-control" type="text"/>

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Role Description</label>
                                            <textarea id="txt_Rolldescription" placeholder="Roll Description" class="form-control" rows="3"></textarea>
                                        </div>
                                        <div class="box-footer">
                                            <label for="lbl_ARoleMessage"></label>
                                            <a id="lnkbtn_saverole" class="btn btn-warning  btn-app pull-right" onclick=""><i class="fa fa-2x fa-save"></i>SAVE</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="Accounts" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">My Account</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <a id="btn_Profile" runat="server" class="btn btn-large">
                                <span class="fa fa-user"></span>Profile</a>
                        </div>
                        <div class="form-group">
                            <a id="btn_Settings" class="btn btn-large">
                                <span class="fa fa-cog"></span>Settings</a>
                        </div>
                        <div class="form-group">
                            <a id="btn_SignOut" class="btn btn-large">
                                <span class="fa fa-sign-out"></span>Sign Out</a>
                        </div>
                        <div class="form-group">
                            <a id="btn_Terms" class="btn btn-large">
                                <span class="fa fa-list-alt"></span>Terms</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>

