
<head> 
  <script src="file.js">
 
</script>
</head>
<body id="home" class="homepage" style="margin-bottom: 0;">
  

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>
<div id="cmmodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content mygrad">
            <div class="modal-header" style="border-bottom: none;">
                <!--    <a href="#" class="pull-right" style="color: white;" data-dismiss="modal"><i class="fa fa-close"></i></a>-->
            </div>
            <div class="modal-body">
                <div class="col-md-12" style="text-align: center; padding-bottom: 5%;">
                    <h1 style="color: #2274e8;">Update in Progress . . .</h1>
                    <h3 style="color: rgb(85, 85, 85);">We'll be right back.</h3>
                    <h4></h4>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
            </div>
        </div>

    </div>
</div>

<header id="header">
      <
 
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="assets/Images/related/ThiinnkZone PNG.png" alt="logo">
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="scroll active"><a href="#home">Home</a></li>
                    <li class="scroll"><a href="#Challenges">Challenges</a></li>
                    <li class="scroll"><a href="#about">About</a></li>
                    <li class="scroll"><a href="#ourwork">Our Work</a></li>
                    <!--<li class="scroll"><a href="#meet-team">Team</a></li>-->
                    <li class="scroll"><a href="#cta2">Traction</a></li>
                    <li class="scroll"><a href="#getinvolved">Get Involved</a></li>
                    <!-- <li class="scroll"><a href="Account/Login.aspx" target="_blank">Login</a></li>-->
                    <!--<li class="scroll"><a href="#blog">Social</a></li>-->
                    <li class="scroll">
                        <!--<a href="#get-in-touch">Contact</a>-->
                    </li>
                </ul>
            </div>
        </div>
        <!--/.container-->
    </nav>
    <!--/nav-->
</header>

<section id="main-slider">
  <div class="owl-carousel">
      <div class="item" style="background-image: url(assets/Images/related/one.jpg);">
          <div class="slider-inner">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-6 margintop5">
                          <div class="carousel-content">
                              <h2 style="background-color: rgba(7, 7, 7, 0.70); padding: 2%; border-radius: 5px;">Scalable Technology-Driven <span>Educational Solutions</span></h2>
                              <p>High-quality, affordable education for children from low income communities</p>
                              <a class="btn btn-primary btn-lg" href="#about">Read More</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--/.item-->
      <div class="item" style="background-image: url(assets/Images/related/2.jpg);">
          <div class="slider-inner">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-6 margintop5">
                          <div class="carousel-content">
                              <h2>Endowing Skills.<span> Reforming Education.</span> Renovating Future</h2>
                              <p>Solving India's biggest education problem of poor learning outcomes amongst children.</p>
                              <a class="btn btn-primary btn-lg" href="#Challenges">Read More</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="item" style="background-image: url(assets/Images/related/102.jpg);">
        <div class="slider-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 margintop5">
                        <div class="carousel-content">
                            <h2>Providing kids with a <span>good foundation in early learning</span></h2>
                            <p>Developing skills to enable a successful transition to primary school environment</p>
                            <a class="btn btn-primary btn-lg" href="#ourwork">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item" style="background-image: url(assets/Images/related/4.jpg);">
        <div class="slider-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 margintop5">
                        <div class="carousel-content">
                            <h2><span>Creating Women Changemakers</span> through dignified livelihoods opportunities </h2>
                            <p>Transforming local women into entrepreneurs</p>
                            <a class="btn btn-primary btn-lg" href="#womenemp">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item" style="background-image: url(assets/Images/related/5.jpg);">
        <div class="slider-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 margintop5">
                        <div class="carousel-content">
                            <h2>Making children achieve <span>the basic learning benchmarks</span></h2>
                            <p>Developing age-appropriate skills to help them perform well in academics</p>
                            <a class="btn btn-primary btn-lg" href="#remedialsol">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.owl-carousel-->
</section>
<section id="Challenges">
<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Challenges</h2>
        <!--<p class="text-center wow fadeInDown">
            Flaws in our current education system worth addressing.
            <br>
        </p>-->
    </div>
    <div class="row">
        <div class="col-sm-6 wow bounceInLeft" data-wow-duration="800ms" data-wow-delay="400ms">
            <img class="img-responsive" src="assets/Images/related/collage2.png" alt="">
        </div>
        <div class="col-sm-6">
            <h3 class="column-title">Educational Challenges</h3>

            <div class="media service-box wow fadeInRight">
                <div class="pull-left">
                    <i class="fa fa-book"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">250 million </h4>
                    <p>Indian children suffering from serious learning deficiencies</p>
                </div>
            </div>

            <div class="media service-box wow fadeInRight">
                <div class="pull-left">
                    <i class="fa fa-book"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">70 million</h4>
                    <p>Indian children lack a proper learning environment before joining school</p>
                </div>
            </div>

            <div class="media special wow fadeInRight">
                <p>Absence of preschool education leads to children enrolling in primary schools without the requisite learning and skills & lack of formal after-school support to improve learning levels leads to 40% dropouts by Age 12.</p>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">

        <div class="col-sm-6">
            <h3 class="column-title">Gender Inequality Issues</h3>

            <div class="media service-box wow fadeInLeft">
                <div class="pull-left">
                    <i class="fa fa-female"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">India ranked 132 out of 148 countries  </h4>
                    <p>on Gender Inequality Index in the Global Human Development Report</p>
                </div>
            </div>

            <div class="media service-box wow fadeInLeft">
                <div class="pull-left">
                    <i class="fa fa-female"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Women have never received </h4>
                    <p>the respect, remuneration, acknowledgment and recognition for the work they do.</p>
                </div>
            </div>

            <div class="media special wow fadeInLeft">
                <p>Diversification of female workforce has been very low due to limited education and appropriate skills and a lot needs to be done for bringing them into mainstream economy.</p>
            </div>
        </div>

        <div class="col-sm-6 wow bounceInRight" data-wow-duration="800ms" data-wow-delay="400ms">
            <img class="img-responsive" src="assets/Images/related/collage5.png" alt="">
        </div>
    </div>
</div>
</section>

<div class="divider"></div>

<section id="about">
  <div class="container">

      <div class="section-header">
          <h2 class="section-title text-center wow fadeInDown">About Us</h2>
          <!--<p class="text-center wow fadeInDown">
              Our Mission is,
                <br>
              <b>"Endowing Skills. Reforming Education. Renovating Future"</b>
          </p>-->
      </div>

      <div class="row">
          <div class="col-sm-6 wow rollIn" data-wow-delay="400ms">
              <img class="img-responsive imgshadow" src="assets/Images/Illustration 51.jpg" alt="">
          </div>

          <div class="col-sm-6 wow fadeInRight">
              <h3 class="column-title">Who are we?</h3>
              <p>ThinkZone provides standardized affordable education to children from low income communities by empowering local women to operate self-sustaining learning centres through a technology-enabled “school-in-a box” approach.  </p>

              <p>We implement a comprehensive, scale-driven lean model that helps us to keep our costs low so that women can deliver quality education programs at less than $2.50 a month.</p>
              <!-- <div class="col-sm-6">
                      <ul class="nostyle">
                          <li><i class="fa fa-check-square"></i> Looking at the serious challenges in the education space as doors of opportunities.</li>
                          <li><i class="fa fa-check-square"></i>Lorem Ipsum has been</li>
                      </ul>
                  </div>-->
          </div>
          <div class="col-sm-6 wow fadeInRight">
              <h3 class="column-title">Our Mission</h3>
              <h2 class="section-title text-center wow fadeInDown" style="color: #45aed6">"Enabling women entrepreneurs provide tech-driven quality education in rural India"</h2>
          </div>
          <!-- <a class="btn btn-primary" href="#">Learn More</a>-->

      </div>
  </div>
</section>


<!--/#about-->
<div class="divider"></div>
  <section id="pricing">
      <div class="container">
          <div class="section-header">
              <h2 class="section-title text-center wow fadeInDown">The Model</h2>
              <p class="text-center wow fadeInDown" style="font-size: x-large;"><b>Developing a Financially Sustainable 'Community Enhancement' Model</b></p>
          </div>

          <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="wow bounceInDown" data-wow-duration="800ms" data-wow-delay="400ms">
                      <ul class="pricing featured">
                          <li class="plan-header">
                              <div class="price-duration">
                                  <img class="img-circle img-thumbnail" src="assets/Images/related/tech1.png" alt="">
                              </div>

                              <div class="plan-name">
                                  Technology-Based Education

                              </div>
                          </li>
                          <li>
                              <p class="scrollpara">Teacher scripts are delivered through data-enabled tablets with activity-based content. The interactive, <b>“learning-by-doing”</b> curriculum helps teachers without previous training to implement the programs at ease.</p>
                          </li>
                      </ul>
                  </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="wow bounceInDown" data-wow-duration="800ms" data-wow-delay="400ms">
                      <ul class="pricing featured">
                          <li class="plan-header">
                              <div class="price-duration">
                                  <img class="img-circle img-thumbnail" src="assets/Images/related/stats3.png" alt="">
                              </div>

                              <div class="plan-name">
                                  Process-Oriented Approach

                              </div>
                          </li>
                          <li>
                              <p class="scrollpara">We employ technology in order to reduce the time spent by teachers on non-instructional activities, decrease the overhead costs required to run a centre and increase the quality of education delivered enabling us to monitor lesson pacing, record attendance, track assessment scores, and update lessons real-time.</p>
                          </li>
                      </ul>
                  </div>
              </div>

              

              <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="wow bounceInDown" data-wow-duration="800ms" data-wow-delay="400ms">
                      <ul class="pricing featured">
                          <li class="plan-header">
                              <div class="price-duration">
                                  <img class="img-circle img-thumbnail" src="assets/Images/related/hndshk3.png" alt="">
                              </div>

                              <div class="plan-name">
                                  Blended Learning

                              </div>
                          </li>
                          <li>
                              <p class="scrollpara">Our pedagogy focuses on self-paced learning, peer-led learning and complete ‘mastery’ of concepts. Our program also consists of worksheets completion which helps us track an individual child’s progress</p>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="wow bounceInDown" data-wow-duration="800ms" data-wow-delay="400ms">
                      <ul class="pricing featured">
                          <li class="plan-header">
                              <div class="price-duration">
                                  <img class="img-circle img-thumbnail" src="assets/Images/related/Womenmicro.png" alt="">
                              </div>

                              <div class="plan-name">
                                  Women
                                  <br />
                                  Micro-Entrepreneurs

                              </div>
                          </li>
                          <li>
                              <p class="scrollpara">We foster entrepreneurship for economic development in backward areas by working with local women who implement our programs.</p>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="wow bounceInDown" data-wow-duration="800ms" data-wow-delay="400ms">
                      <ul class="pricing featured">
                          <li class="plan-header">
                              <div class="price-duration">
                                  <img class="img-circle img-thumbnail" src="assets/Images/related/hndshk3.png" alt="">
                              </div>

                              <div class="plan-name">
                                  Standardized Content

                              </div>
                          </li>
                          <li>
                              <p class="scrollpara">The curriculum itself is standardized which includes step-by-step instructions detailing what teachers should do and say during any given moment of a class. Lesson standardization enables less qualified teachers to deliver lessons of a higher quality than their level of experience would otherwise allow.</p>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="wow bounceInDown" data-wow-duration="800ms" data-wow-delay="400ms">
                      <ul class="pricing featured">
                          <li class="plan-header">
                              <div class="price-duration">
                                  <img class="img-circle img-thumbnail" src="assets/Images/related/hndshk3.png" alt="">
                              </div>

                              <div class="plan-name">
                                  School-in-a-box

                              </div>
                          </li>
                          <li>
                              <p class="scrollpara">Our school-in-a-box contains low cost start-up resources for teaching activities which are designed to benefit the centre as a whole. It also includes tools like Skill Chart for regular evaluation and tracking specific learning goals for every month, which helps us identify and focus on children lagging in a particular skill.</p>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section id="meet-team">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown" style="color: #45aed6">Meet The Team</h2>
            <!--<p class="text-center wow fadeInDown">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                <br>
                et dolore magna aliqua. Ut enim ad minim veniam
            </p>-->
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="team-member wow zoomInLeft" data-wow-duration="800ms" data-wow-delay="300ms">
                    <div class="team-img">
                        <img class="img-responsive center-block teamimg" src="assets/Images/related/binayak.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h4 style="color: #45aed6;">Binayak</h4>
                        <!--<span>Founder & CEO</span>-->
                    </div>
                    <p>Engineer. Rural Manager. Experience ranges from SAP Consulting for MNCs to executing ICT4D and Skill Development Projects in Villages. XIMB Alumnus.</p>
                    <!--<p>He has spent time analyzing the implementation status of various educational policies & schemes in Odisha and has also worked towards promoting an alternate source of livelihood generation model for the vulnerable population in the state.</p>-->
                    <!--<p>Binayak has marketed products in rural Odisha and also had a fruitful stint in the skills development sector and ICT4D space An Electronics and Telecommunication Engineer, Binayak has worked as a SAP Consultant developing supply chain management applications.</p>-->
                    <!-- <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>-->
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="team-member wow zoomInUp" data-wow-duration="800ms" data-wow-delay="300ms">
                    <div class="team-img">
                        <img class="img-responsive center-block teamimg" src="assets/Images/related/sarbari.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h4 style="color: #45aed6;">Sarbari</h4>
                        <!--<span>Director, Curriculum</span>-->
                    </div>
                    <!--<p>Sarbari brings with her more than seven years of academic and research experience. She is a senior research fellow at a leading bio-technology institute of the central government. Sarbari is pursuing her Phd and also working on cancer therapy in curing leukaemia using nanotechnology.</p>-->
                    <p>Senior Research Fellow. Academic Researcher. Micro-Biologist. Experience from Renowned Research Institutes. International Papers in Credit.</p>
                    <!--<p>Sarbari has a BSc in Zoology from Ravenshaw College and has completed her Masters in Microbiology from Orissa University of Agriculture and Technology.</p>-->
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="team-member wow zoomInRight" data-wow-duration="800ms" data-wow-delay="300ms">
                    <div class="team-img">
                        <img class="img-responsive center-block teamimg" src="assets/Images/related/manas.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h4 style="color: #45aed6;">Manas Kumar</h4>
                        <!--<span>Co-founder & Head, Operations</span>-->
                    </div>
                    <!--<p>Manas is an alumnus of National Institute of Technology Rourkela and has more than three years of experience in the field of technical education. An academic teacher by profession, Manas has research interests varying from Micro-electronics, VLSI and Advanced Process Control.</p>-->
                    <p>Academic Coach. Engineer. Educational and Operational Experience in Primary Level Schooling. NIT Rourkela Alumnus.</p>
                    <!--<p>Manas aims at making learning fun in schools by focussing on improving the practical skills of students and encouraging them to invent & prototype. He loves travelling, cooking and is a big-time cricket enthusiast.</p>-->
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="team-member wow zoomInUp" data-wow-duration="800ms" data-wow-delay="300ms">
                    <div class="team-img">
                        <img class="img-responsive center-block  teamimg" src="assets/Images/related/divyashree.png" alt="">
                    </div>
                    <div class="team-info">
                        <h4 style="color: #45aed6;">Divyashree</h4>
                        <!--<span>Director, Curriculum</span>-->
                    </div>
                    <!--<p>Sarbari brings with her more than seven years of academic and research experience. She is a senior research fellow at a leading bio-technology institute of the central government. Sarbari is pursuing her Phd and also working on cancer therapy in curing leukaemia using nanotechnology.</p>-->
                    <p>IIM Bangalore Alumnus. Tech Specialist. Experience ranges from implementing large-scale IT projects to developing academic products for the emerging markets.</p>
                    <!--<p>Sarbari has a BSc in Zoology from Ravenshaw College and has completed her Masters in Microbiology from Orissa University of Agriculture and Technology.</p>-->
                </div>
            </div>
            <!--  <div class="col-sm-6 col-md-3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                    <div class="team-img">
                        <img class="img-responsive" src="images/team/04.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Nasir uddin</h3>
                        <span>UI/UX</span>
                    </div>
                    <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>-->
        </div>

        <!--<div class="divider"></div>-->
        <!--  <div class="row">
            <div class="col-sm-4">
                <h3 class="column-title">Our Skills</h3>
                <strong>GRAPHIC DESIGN</strong>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar" data-width="85">85%</div>
                </div>
                <strong>WEB DESIGN</strong>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar" data-width="70">70%</div>
                </div>
                <strong>WORDPRESS DEVELOPMENT</strong>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar" data-width="90">90%</div>
                </div>
                <strong>JOOMLA DEVELOPMENT</strong>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar" data-width="65">65%</div>
                </div>
            </div>

            <div class="col-sm-4">
                <h3 class="column-title">Our History</h3>
                <div role="tabpanel">
                    <ul class="nav main-tab nav-justified" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab1" role="tab" data-toggle="tab" aria-controls="tab1" aria-expanded="true">2010</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab2" role="tab" data-toggle="tab" aria-controls="tab2" aria-expanded="false">2011</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab3" role="tab" data-toggle="tab" aria-controls="tab3" aria-expanded="false">2013</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab4" role="tab" data-toggle="tab" aria-controls="tab4" aria-expanded="false">2014</a>
                        </li>
                    </ul>
                    <div id="tab-content" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab1" aria-labelledby="tab1">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters readable English.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab2" aria-labelledby="tab2">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters readable English.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab3" aria-labelledby="tab3">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters readable English.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab4" aria-labelledby="tab3">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters readable English.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <h3 class="column-title">Faqs</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Enim eiusmod high life accusamus
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum.

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Nihil anim keffiyeh helvetica
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum.

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Vegan excepteur butcher vice lomo
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum.

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>-->
    </div>
</section>
<!--/#meet-team-->
<section id="ourwork">
  <div class="container">
      <div class="section-header">
          <h2 class="section-title text-center wow fadeInDown">Our Work</h2>
          <!--  <p class="text-center wow fadeInDown">
              Flaws in our current education system worth addressing.
              <br>
          </p>-->
      </div>
      <div class="row" id="earlyched">
          <div class="col-sm-6 wow rotateInDownLeft" data-wow-delay="400ms">
              <img class="img-responsive" src="assets/Images/related/earch.png" alt="">
          </div>
          <div class="col-sm-6 wow fadeInRight">
              <h3 class="column-title">Early Childhood Education</h3>
              <p>Our play-based program provides children with a good foundation and also instils a love for learning from a young age. The three-level education programs make the children at the Bottom of the Pyramid start off on the right foot by having them be in a learning environment early.  </p>
              <p>Children are school ready through development of skills like literacy, numeracy, engaging in learning activities, ability to follow directions, working well with other children etc. They are eager to learn, thereby enabling a successful transition to a primary school learning environment.</p>
          </div>
      </div>
      <div class="divider"></div>
      <div class="row" id="remedialsol" style="padding: 100px 0;">

          <div class="col-sm-6 wow fadeInLeft">
              <h3 class="column-title">Primary Level Education</h3>
              <p>Our primary-level program helps supplement a child’s limited school education. We implement a level-based and not an age-based program, thus giving each child a chance to catch up with the class level requirements. The programs aim to bridge multiple year learning gaps across primary level in a specified period of time. </p>
              <p>Children will develop age appropriate skills and such a strong foundation in basic competencies helps them to perform well in their academic careers. Our approach is independent of the existing education system but at the same time remains in alignment with the broad educational requirements.</p>
          </div>

          <div class="col-sm-6 wow rotateInDownRight" data-wow-delay="400ms">
              <img class="img-responsive" src="assets/Images/related/collagesp.png" alt="">
          </div>
      </div>
      <div class="divider" id="women"></div>
      <div class="row" id="womenemp" style="padding: 100px 0;">
          <div class="col-sm-6 wow rotateInDownLeft" data-wow-delay="400ms">
              <img class="img-responsive" src="assets/Images/related/womencollagesp.png" alt="">
          </div>
          <div class="col-sm-6 wow fadeInRight">
              <h3 class="column-title">Women Empowerment</h3>
              <p>Our model provides dignified and convenient livelihood opportunities to women and simultaneously builds ownership of the program at the grassroots level. It also improves the socioeconomic status of teachers while also creating women leaders and role models in local communities.</p>
              <p>Women are empowered to get involved in the design & development of innovative and child-centred learning modules for reading, writing, and arithmetic in their own facilities. </p>
          </div>
      </div>
  </div>
</section>
<!--/#ourwork-->

<section id="cta2">
  <div class="container">
      <div class="section-header">
          <h2 class="section-title text-center wow fadeInDown"><span>Traction</span></h2>
      </div>
      <!--<p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">Mauris pretium auctor quam. Vestibulum et nunc id nisi fringilla <br />iaculis. Mauris pretium auctor quam.</p>-->
      <!--<p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms"><a class="btn btn-primary btn-lg" href="#">Free Download</a></p>-->
      <!--<img class="img-responsive wow fadeIn" src="images/cta2/cta2-img.png" alt="" data-wow-duration="300ms" data-wow-delay="300ms">-->
      <div class="row">
          <div class="col-sm-6 wow fadeInLeft" style="border-right: 1px solid rgba(238, 238, 238, 0.1);">
              <h3 class="tractn-title">Creating Positive Impact</h3>
              <div class="media tractn fadeInLeft">
                  <div class="pull-left">
                      <i class="fa fa-leaf"></i>
                  </div>
                  <div class="media-body">
                      <h4 class="media-heading"></h4>
                      <p class="tractions_para">Increased access to quality education in far-flung areas.</p>
                  </div>
              </div>

              <div class="media tractn fadeInLeft">
                  <div class="pull-left">
                      <i class="fa fa-leaf"></i>
                  </div>
                  <div class="media-body">
                      <h4 class="media-heading"></h4>
                      <p class="tractions_para">Improvement in learning levels of children.</p>
                  </div>
              </div>

              <div class="media tractn fadeInLeft">
                  <div class="pull-left">
                      <i class="fa fa-leaf"></i>
                  </div>
                  <div class="media-body">
                      <h4 class="media-heading"></h4>
                      <p class="tractions_para">Increase in livelihood opportunities at the BoP</p>
                  </div>
              </div>

              <div class="media tractn fadeInLeft">
                  <div class="pull-left">
                      <i class="fa fa-leaf"></i>
                  </div>
                  <div class="media-body">
                      <h4 class="media-heading"></h4>
                      <p class="tractions_para">Decrease in school drop-outs from higher grades </p>
                  </div>
              </div>
          </div>

          <div class="col-sm-6 wow fadeInRight">
              <h3 class="tractn-title">Third Party Endorsements</h3>
              <div class="media tractn fadeInRight">
                  <div class="pull-left">
                      <i class="fa fa-leaf"></i>
                  </div>
                  <div class="media-body">
                      <h4 class="media-heading"></h4>
                      <p class="tractions_para">Among GSBI Global Cohort of Social Enterprises</p>
                  </div>
              </div>

              <div class="media tractn fadeInRight">
                  <div class="pull-left">
                      <i class="fa fa-leaf"></i>
                  </div>
                  <div class="media-body">
                      <h4 class="media-heading"></h4>
                      <p class="tractions_para">Villgro Entrepreneur Scholars for High-Potential Early Stage Social Enterprise.</p>
                  </div>
              </div>

              <div class="media tractn fadeInRight">
                  <div class="pull-left">
                      <i class="fa fa-leaf"></i>
                  </div>
                  <div class="media-body">
                      <h4 class="media-heading"></h4>
                      <p class="tractions_para">Indian School of Business iDiya National Social Ventures Challenge Finalists.</p>
                  </div>
              </div>

              <div class="media tractn fadeInRight">
                  <div class="pull-left">
                      <i class="fa fa-leaf"></i>
                  </div>
                  <div class="media-body">
                      <h4 class="media-heading"></h4>
                      <p class="tractions_para">Among Top 10 Emerging Education Startups by Unitus Seed Fund. </p>
                  </div>
              </div>
              <div class="media tractn fadeInRight">
                  <div class="pull-left">
                      <i class="fa fa-leaf"></i>
                  </div>
                  <div class="media-body">
                      <h4 class="media-heading"></h4>
                      <p class="tractions_para">UnLtd Delhi Investee. </p>
                  </div>
              </div>
              <div class="media tractn fadeInRight">
                  <div class="pull-left">
                      <i class="fa fa-leaf"></i>
                  </div>
                  <div class="media-body">
                      <h4 class="media-heading"></h4>
                      <p class="tractions_para">Among Top Social Enterprises at Tata Challenge- IIM Calcutta. </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section id="getinvolved">
<div class="container">

    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Join Us</h2>
        <!-- <p class="text-center wow fadeInDown">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            <br>
            et dolore magna aliqua. Ut enim ad minim veniam
        </p>-->
    </div>

    <div class="row">
        <div class="Challenges">
            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                <div class="media service-box">
                    <div class="pull-left">
                        <i class="fa fa-tint"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"></h4>
                        <p>We welcome full-time professionals, part-time individuals, interns, freelancers and volunteers to be a part of our mission of providing low cost high quality education to children from low income group families.</p>
                        <p>Desired competencies will depend on the work involved but will most often include expertise in sales, strategy, research, operations, technology and stakeholder management. </p>
                    </div>
                </div>
            </div>
            <!--/.col-md-4-->

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                <div class="media service-box">
                    <div class="pull-left">
                        <i class="fa fa-tint"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"></h4>
                        <p>Currently, we offer internships in Odisha throughout the year.</p>
                        <p>Selected changemakers will work in different areas ranging from campaigns, content development & design, sales and marketing and implementing technology in the education space.</p>
                        <a class="btn btn-primary btn-lg" target="_blank" href="Job Description.pdf">Click here</a><span style="font-size: 18px; font-weight: 600; color: #45AED6"> to know more about the positions.</span>
                    </div>

                </div>
            </div>
            <!--/.col-md-4-->
            <!--   <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                <div class="media service-box">
                    <div class="pull-left">
                        <i class="fa fa-tint"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"></h4>
                        <p>We urgently require changemakers for the following positions:-</p>
                        <ul class="nostyle">
                            <li><i class="fa fa-check-square"></i>Academic Research Consultant</li>
                            <li><i class="fa fa-check-square"></i>Market Research Consultant</li>
                            <li><i class="fa fa-check-square"></i>Student Mentor</li>
                        </ul>
                        <a class="btn btn-primary btn-lg" href="Job Description.pdf">Click here</a><span>to know more about the positions</span>
                    </div>
                </div>
            </div>-->
            <!--/.col-md-4-->
        </div>
    </div>
    <!--/.row-->
</div>
<!--/.container-->
</section>
<!--/#getinvolved-->

<section id="blog">
<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">We are social</h2>
        <p class="text-center wow fadeInDown">
            Know us better via our Social Networking profiles.
            <br>
        </p>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="400ms" data-wow-delay="200ms">
                <div class="fb-page" data-href="https://www.facebook.com/ThinkZoneIndia/" data-tabs="timeline" data-width="500" data-height="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/ThinkZoneIndia/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ThinkZoneIndia/">ThinkZone</a></blockquote>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="blog-post blog-media wow fadeInRight" data-wow-duration="400ms" data-wow-delay="200ms">
                <a class="twitter-timeline" href="https://twitter.com/TatvaGyanSV" data-widget-id="650961568289550336">Tweets by @TatvaGyanSV</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
            </div>

        </div>
    </div>

</div>
</section>

<section id="get-in-touch">
<div class="container">
    <!--<div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Subscribe</h2>
    </div>-->
    <div class="row">
        <div class="col-sm-4 wow zoomInUp">
            <h3 class="column-title" style="color: #45aed6;">Subscribe Newsletter</h3>
            <input type="email" name="email" class="form-control" placeholder="Email" required>
            <a class="btn btn-primary btn-lg subscrb" href="assets/Job Description.pdf">Subscribe</a><br />
            <br />
            <a class="btn btn-primary btn-lg subscrb" [routerLink]="['/login']" target="_blank">Login</a>
        </div>
        <div class="col-sm-4 wow zoomInUp">
            <h3 class="column-title" style="color: #45aed6;">Contact Info</h3>
            <address>
                <strong>Registered Office:</strong><br>
                Plot no.47/1015, Lingraj Nagar, Old Town<br>
                Bhubaneswar - 751002, Odisha<br />
                <br />
                <strong>Head Office:</strong><br>
                Near Sun Apollo Hospital, Srivihar Colony<br>
                Tulasipur, Cuttack- 753008, Odisha<br />
                <br />
                <abbr title="Phone">P:</abbr>
                +919861392311, +919778043242
                <br />
                <abbr title="Email">@:</abbr><b>  info@thinkzone.in</b>
            </address>
        </div>
        <div class="col-sm-4 wow zoomInUp">
            <h3 class="column-title" style="color: #45aed6;">Contact Us</h3>
            <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" id="email2" placeholder="Email" required>
                </div>
                <!-- <div class="form-group">
                    <input type="text" name="subject" class="form-control" placeholder="Subject" required>
                </div>-->
                <div class="form-group">
                    <textarea name="message" class="form-control" rows="8" id="message" placeholder="Message" required></textarea>
                </div>
                <button type="submit" id="submitForm" class="btn btn-primary">Send Message</button>
            </form>
        </div>
    </div>
</div>
</section>
<footer id="footer">
<div class="container">
    <!--<div class="row">
        <div class="col-sm-6-sp">
            Photo Credits : <span>&copy;Kara Newhouse</span>   <span>&copy;HAPPY HORIZONS 2007 </span><span>&copy;J P Davidson </span><span>&copy;Niyam Bhushan   </span><span>&copy;Tatvagyan</span>
        </div>
    </div>-->
    <div class="row">

        <div class="col-sm-6">
            &copy; 2016-17 ThinkZone. Designed by P.Roy (Ref. ShapeBootstrap Theme)
        </div>
        <div class="col-sm-6">
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/ThinkZoneIndia/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/ThinkZoneIndia" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>

    </div>
</div>
</footer>

</body>
<router-outlet></router-outlet>